{% macro head() %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>gl.dev</title>
  <link
    href="{{ url_for('static', filename='css/output.css') }}"
    rel="stylesheet"
  />
  <script src="{{ url_for('static', filename='lib/htmx.min.js') }}"></script>
</head>
{% endmacro %} {% macro navbar(title, theme) %}
<div class="text-sm breadcrumbs">
  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    {% if title == "Skills" %}
    <li><a href="{{ url_for('skills') }}">Skills</a></li>
    {% elif title == "Projects" %}
    <li><a href="{{ url_for('projects') }}">Projects</a></li>
    {% endif %}
  </ul>
</div>
<div>
  <label class="flex cursor-pointer gap-2">
    <span class="label-text">Dark</span>
    {% if theme == 'mydark' %}
    <input
      type="checkbox"
      value="mylight"
      class="toggle theme-controller"
      hx-get="{{ url_for('toggle_theme') }}"
      hx-trigger="click"
      hx-swap="outerHTML"
      hx-target="#theme"
    />
    {% elif theme == 'mylight' %}
    <input
      type="checkbox"
      value="mylight"
      class="toggle theme-controller"
      hx-get="{{ url_for('toggle_theme') }}"
      hx-trigger="click"
      hx-swap="outerHTML"
      hx-target="#theme"
      checked
    />
    {% endif %}
    <span class="label-text">Light</span>
  </label>
</div>
{% endmacro %} {% macro project_display(project) %} {% if project.type == 'web'
%}
<div class="my-7">
  <div class="mockup-browser border border-base-300">
    <div class="mockup-browser-toolbar">
      <div class="input border border-base-300">
        <a href="{{project.projectWebsite}}"> {{ project.projectWebsite }} </a>
      </div>
    </div>
    <div class="flex justify-center border-t border-base-300">
      <img src="{{ url_for('static', filename='images/' + project.image) }}" />
    </div>
  </div>
</div>
{% elif project.type == 'mobile' %}
<div class="flex justify-center my-7">
  <div class="mockup-phone w-80">
    <div class="camera"></div>
    <div class="display">
      <img src="{{ url_for('static', filename='images/' + project.image) }}" />
    </div>
  </div>
</div>
{% endif %} {% endmacro %}
