{% macro head() %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio</title>
  <link
    href="{{ url_for('static', filename='css/output.css') }}"
    rel="stylesheet"
  />
  <script src="{{ url_for('static', filename='lib/htmx.min.js') }}"></script>
</head>
{% endmacro %} {% macro navbar(title) %}
<div class="text-sm breadcrumbs">
  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    {% if title == "Skills" %}
    <li><a href="{{ url_for('skills') }}">Skills</a></li>
    {% endif %}
  </ul>
</div>
<div>
  <label class="flex cursor-pointer gap-2">
    <span class="label-text">Dark</span>
    <input type="checkbox" value="mylight" class="toggle theme-controller" />
    <span class="label-text">Light</span>
  </label>
</div>
{% endmacro %}
