{% import "_macros.html" as macros with context %}
<!DOCTYPE html>
<html lang="en">
  {{ macros.head() }}
  <body
    hx-get="{{ url_for('main.get_repos') }}"
    hx-trigger="load"
    hx-target="#repos_list"
  >
    <div
      class="container max-w-6xl mx-auto my-5 px-16 border-x-2 border-neutral"
    >
      <div data-theme="{{ obj.theme }}" id="theme"></div>
      <nav class="flex items-center justify-between">
        {{ macros.navbar(obj.title, obj.theme) }}
      </nav>
      <div class="container py-10">
        <div class="flex justify-between">
          <div class="flex items-center">
            <div class="w-fit">
              <h1 class="text-4xl pb-3">Gerwin Lagutan</h1>
              <div class="bg-accent h-1 rounded"></div>
            </div>
            <div class="ml-3">
              <p class="text-sm hover:underline">
                <a
                  href="http://ipa-reader.xyz/?text=d%CD%A1%CA%92%C9%9Cr%CB%88w%C9%AAn&voice=Amy"
                  target="_blank"
                  >/d͡ʒɜrˈwɪn/</a
                >
              </p>
            </div>
          </div>
          <div class="flex items-center">
            <a
              href="https://www.linkedin.com/in/gerwin-lagutan-149b22254/"
              class="mx-1"
            >
              <svg
                class="w-8 h-8 text-secondary"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z"
                  clip-rule="evenodd"
                />
                <path d="M7.2 8.809H4V19.5h3.2V8.809Z" />
              </svg>
            </a>
            <a href="https://github.com/egoRockU">
              <svg
                class="w-7 h-7 text-secondary"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <p class="mb-4">
        Hi, I'm a computer science student who enjoy exploring different
        technologies and tools related to software development. I'm
        currently focusing on
        <b>Backend Development</b> using the
        <b>Javascript/Typescript Ecosystem</b> and have some experience in
        <b>Frontend Development</b> from building school and personal projects.
      </p>
      <p class="mb-4 text-accent hover:cursor-pointer hover:underline w-fit">
        <a href="{{ url_for('main.skills') }}">View Skillset</a>
      </p>
      <div class="mt-12">
        <div class="w-fit h-fit flex items-center pb-2">
          <div class="bg-accent w-1 self-stretch rounded"></div>
          <h1 class="text-4xl pl-2 hover:underline">
            <a href="{{ url_for('main.projects') }}">Projects</a>
          </h1>
        </div>
        {% for project, attrib in obj.threeProj.items() %} {{
        macros.project_display(attrib) }} {% endfor %}
        <div class="flex items-center justify-center">
          <a href="{{ url_for('main.projects') }}">
            <div class="flex items-center flex-row">
              <hr class="w-20 mr-2 border-accent" />
              <p class="text-lg text-accent">View More</p>
              <hr class="w-20 ml-2 border-accent" />
            </div>
          </a>
        </div>
      </div>
      <div class="mt-16">
        <h1 class="text-2xl mb-1">Github Repositories</h1>
        <p class="font-normal text-neutral">
          Might indicate projects that I'm currently working on ...
        </p>
        <div class="border border-neutral rounded py-5 px-10 mt-5">
          <div id="repos_list" class="flex flex-col"></div>
        </div>
      </div>
      <div class="mt-16">
        <h1 class="text-2xl font-semibold mb-3">Contact me @</h1>
        <div class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 stroke-accent"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
            />
          </svg>
          <a href="mailto:gerwin.lagutan.dev@gmail.com"
            ><p class="text-lg ml-2 text-accent">
              gerwin.lagutan.dev@gmail.com
            </p>
          </a>
        </div>
        <div class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 stroke-accent"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
            />
          </svg>
          <p class="text-lg ml-2 text-accent">(+63) 994-524-3820</p>
        </div>
      </div>
      <div class="flex justify-center mt-52">
        <p class="text-xl font-thin italic">
          Made with HTMX, Flask, and instant coffee
        </p>
      </div>
    </div>
  </body>
</html>
